<nav class="rustrot-MyAccount-navigation">
    <ul>
        <li class="rustrot-MyAccount-navigation-link rustrot-MyAccount-navigation-link--dashboard is-active">
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="rustrot-MyAccount-navigation-link rustrot-MyAccount-navigation-link--orders">
            <a href="{% url 'my-orders' %}">Orders</a>
        </li>

        <li class="rustrot-MyAccount-navigation-link rustrot-MyAccount-navigation-link--edit-address">
            <a href="{% url 'settings' %}">Settings</a>
        </li>

        <li class="rustrot-MyAccount-navigation-link rustrot-MyAccount-navigation-link--customer-logout">
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</nav>