{% load static %}
<footer id="footer" class="footer">
    <div class="section-036">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-2">
                    <div class="logo-footer">
                        <img src="{% static 'assets/images/logo.png' %}"
                             class="az_single_image-img attachment-full" width="70" height="70" alt="img">
                    </div>
                </div>
                <div class="col-md-7 col-lg-4">
                    <div class="rustrot-listitem style-01 contact">
                        <div class="listitem-inner">
                            <h5 class="title">Contact</h5>
                            <ul class="listitem-list">
                                <li>
                                    <span>Phone</span>
                                    <a href="tel:+2349063893092">
                                        0906 389 3092
                                    </a>
                                </li>
                                <li>
                                    <span>Email</span>
                                    <a href="mailto:support@triluxe.online">
                                        support@triluxe.online </a>
                                </li>
                                <li>
                                    <span>Address</span>
                                    Shop A14, ANN DE GOLD PLAZA, opposite building materials, Okpanam city gate.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-2">
                    <div class="rustrot-listitem style-01">
                        <div class="listitem-inner">
                            <h5 class="title">Information </h5>
                            <ul class="listitem-list">
                                <li>
                                    <a href="{% url 'about' %}" target="_self">
                                        About </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Customer Service </a>
                                </li>
                                <li>
                                    <a href="order-tracking.html" target="_self">
                                        Orders and Returns </a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" target="_self">
                                        Contact </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Sitemap </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-newsletter style-04">
                        <div class="newsletter-inner">
                            <div class="newsletter-info">
                                <div class="newsletter-wrap">
                                    <h5 class="title">Newsletter<span></span></h5>
<!--                                    <p class="desc">Nam sed felis at eros blandit ultrices et quis quam. In sit amet-->
<!--                                        molestie lectus.</p>-->
                                </div>
                            </div>
                            <div class="newsletter-form-wrap">
                                <div class="newsletter-form-inner">
                                    <input class="email email-newsletter" name="email"
                                           placeholder="Enter your email ..." type="email">
                                    <button class="button btn-submit submit-newsletter">
                                        <span class="text">Subscribe</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2022 <a href="#">Triluxe Fashion</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="rustrot-listitem style-02">
                        <div class="listitem-inner">
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                        Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Privacy </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Cookie statement </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>