{% load static %}
<header id="header" class="header header-light header-transparent">
    <div class="header-wrap-stick">
        <div class="header-position">
            <div class="header-middle container">
                <div class="rustrot-menu-wapper"></div>
                <div class="header-middle-inner">
                    <div class="header-logo">
                        <a class="logo" href="{% url 'home' %}">
                            <img alt="Triluxe Fashion" src="{% static 'assets/images/logo.png' %}" height="60" width="60">
                        </a>
                    </div>
                    <div class="header-control">
                        <div class="header-control-inner">
                            <div class="meta-dreaming">
                                <div class="block-menu-bar">
                                    <a class="menu-bar menu-toggle" href="#">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="box-header-nav">
                                    <ul id="menu-primary-menu"
                                        class="clone-main-menu rustrot-clone-mobile-menu rustrot-nav main-menu">
                                        <li id="menu-item-230"
                                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                            <a class="rustrot-menu-item-title" title="Home" href="{% url 'home' %}">Home</a>
                                        </li>
                                        <li id="menu-item-228"
                                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                            <a class="rustrot-menu-item-title" title="Shop" href="{% url 'shop' %}">Shop</a>
                                        </li>

                                        <li id="menu-item-996"
                                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                            <a class="rustrot-menu-item-title" title="About" href="{% url 'about' %}">About</a>
                                        </li>


                                        <li id="menu-item-237"
                                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                            <a class="rustrot-menu-item-title" title="contact" href="{% url 'contact' %}">Contact</a>
                                        </li>


                                        {% if user.is_authenticated %}
                                            <li id="menu-item-240"
                                                class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                                <a class="rustrot-menu-item-title" title="Dashboard" href="{% url 'dashboard' %}">Dashboard</a>
                                            </li>

                                        {% else %}
                                            <li id="menu-item-239"
                                                class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230">
                                                <a class="rustrot-menu-item-title" title="Signin" href="{% url 'login' %}">Login</a>
                                            </li>

                                        {% endif %}
                                    </ul>
                                </div>

                                <ul class=" block-minicart block-dreaming rustrot-mini-cart rustrot-dropdownn">
                                    <li class="shopcart-dropdownn block-cart-link" data-rustrot="rustrot-dropdownn">
                                        <a class="block-link " href="{% url 'cart' %}">
                                            Cart<span id="cart_quantity" class="count">{{ cart|length }}</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>