{% extends 'partials/base.html' %}

{% load static %}

{% block content %}

{% include 'partials/breadcrumb.html' %}


<div class="main-container text-center error-404 not-found">
    <div class="container">
        <h1 class="title-404">error<span>404</span></h1>
        <h3 class="title">URL Invalid</h3>
        <p>This page has mysteriously disappeared into the Bermuda Triangle. Don’t worry, it’s not you… It’s the page!</p>
        <h5 class="subtitle">Please head back home</h5>
        <a href="{% url 'home' %}" class="button">Home</a>
    </div>
</div>

{% endblock content %}