{% extends 'partials/base.html' %}

{% load static %}

{% block content %}

{% include 'partials/breadcrumb.html' %}


<div class="site-main  main-container no-sidebar">
    <div class="section-007">
        <div class="container">
            <div class="rustrot-popupvideo style-01">
                <div class="popupvideo-inner">
                    <div class="popupvideo-wrap">
                        <h3 class="title">
                            Our goal </h3>
                        <div class="desc">
                            <h4>Welcome to Triluxe: Your Destination for Swift Online Fashion</h4>
                            <p>
                                At Triluxe, we redefine convenience and style in online fashion. Our mission is simple: to bring you the latest trends and timeless classics, effortlessly accessible 24/7. Whether you're seeking the perfect outfit for a last-minute event or upgrading your wardrobe with the season's must-haves, Triluxe is here to deliver.

                                Why Choose Triluxe?
                                
                                Always Open: Our online store never closes, ensuring you can shop at your convenience, day or night.
                                
                                Swift Delivery: We understand the excitement of new fashion finds. That's why we prioritize fast shipping, ensuring your order reaches you promptly.
                                
                                Curated Selection: From everyday essentials to statement pieces, our curated collections are designed to inspire and elevate your personal style.
                                
                               
                            </p>
                            <p>
                                Our Commitment to You
                                
                                At Triluxe, customer satisfaction is at the heart of everything we do. We strive to provide a seamless shopping experience, backed by responsive customer support and a commitment to quality. Join our community of fashion-forward individuals who trust Triluxe to deliver style, reliability, and innovation.
                                
                                Explore Triluxe today and discover a new era of online fashion shopping. Your style journey starts here.
                            </p>
                            {% comment %} <p>
                                It is not known exactly when the text gained its current traditional
                                form. However references to the phrase "lorem ipsum" can be found in the 1914 Loeb
                                Classical Library Edition of the De Finibus in sections 32 and 33.
                            </p> {% endcomment %}
                        </div>
                    </div>
                    <div class="icon">
                        {% comment %} <img src="assets/images/about-img.jpg"
                             class="attachment-full size-full" alt="img"> {% endcomment %}
                        <div class="product-video-button">
                            <a class="buttonvideo" href="#" data-videosite="vimeo" data-videoid="29420457" tabindex="0">
                                <div class="videobox_animation circle_1"></div>
                                <div class="videobox_animation circle_2"></div>
                                <div class="videobox_animation circle_3"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="section-001 section-006">
        <div class="container">
            <div class="rustrot-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Meet Our Team <span></span></h3>
                </div>
            </div>
            <div class="rustrot-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img1.jpg"
                                         class="attachment-full size-full" alt="img"></a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Annie Taylor </a>
                                </h3>
                                <p class="positions">Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img2.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Ayomide Regan </a>
                                </h3>
                                <p class="positions">Marketing Personal</p>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img3.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Violet Frase </a>
                                </h3>
                                <p class="positions">Director</p>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team-img4.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Frank Greer </a>
                                </h3>
                                <p class="positions">Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team-img5.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Mark Tucker </a>
                                </h3>
                                <p class="positions">Partner</p>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team-img6.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Perry Conner </a>
                                </h3>
                                <p class="positions">Partner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="section-0211">
        <div class="container">
            <div class="rustrot-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Frequently asked questions <span></span></h3>
                </div>
            </div>
            <div class="rustrot-accordion">
                <div class="item open">
                    <h3 class="title">Will I receive the same product that I see in the picture? <span
                            class="toggle-text">
                        <span>Read More</span>
                        <span>Close</span>
                    </span>
                    </h3>
                    <div class="desc">
                        <p>We make every effort to provide our customers with products that look the same as the images
                            displayed on our website pages. However please keep in mind that photographs have a
                            difficult time showing exact colors and that the actual color of a product may vary slightly
                            from what is shown in one of our website images. We work hard to update our website
                            descriptions and images as soon as we aware of noticeable variations in our products that
                            customers may find unacceptable.</p>
                    </div>
                </div>
                <div class="item">
                    <h3 class="title">Where can I view my sales receipt?
                        <span class="toggle-text">
                            <span>Read More</span>
                            <span>Close</span>
                        </span>
                    </h3>
                    <div class="desc">
                        <p>You can find your triluxe purchase receipt at the end of each purchase transaction, screenshot or print your receipts to track your orders with the Triluxe Support.</p>
                    </div>
                </div>
                <div class="item">
                    <h3 class="title">How can I return an item?<span
                            class="toggle-text">
                        <span>Read More</span>
                        <span>Close</span>
                    </span>
                    </h3>
                    <div class="desc">
                        <p>We offer refunds to any unsatisfied customers up to 15 days after the date of the purchasing
                            was made, no questions asked. If you would like your money to be back, simply negative to
                            Refund then submit a refund request and explain why you are requesting this. Please note
                            that it may take some times to receive the funds back, due to processing delays. Please note
                            that by purchasing a product, you agree to the terms of the Refund Policy.</p>
                    </div>
                </div>
                <div class="item">
                    <h3 class="title">Where can I ship my order?
                        <span class="toggle-text">
                            <span>Read More</span>
                            <span>Close</span>
                        </span>
                    </h3>
                    <div class="desc">
                        <p>Although we would love to receive your order, we currently cannot ship outside of the
                            countries where our online shop is open. However, we are constantly expanding, and aim to
                            reach even more countries in the future, for your full satisfaction!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}