{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/breadcrumb.html' %}


<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="rustrot">
                        <div class="rustrot-notices-wrapper"></div>
                        <div class="checkout-before-top">
                            {% include 'partials/floating-messages.html' %}


                            <div class="rustrot-checkout-coupo">
                                <div class="rustrot-notices-wrapper"></div>
                                <div class="rustrot-form-coupon-toggle rustrot-form-toggle">
                                    <div class="rustrot-info">
                                        Have a coupon? <a href="#" class="showcoupon showbtn">Click here to enter your
                                        code</a>
                                    </div>
                                </div>
                                <form class="checkout_coupon rustrot-form-coupon rustrot-form-show" method="POST"
                                      style="display:none">
                                    <p>If you have a coupon code, please apply it below.</p>
                                    <p class="form-row form-row-first">
                                        <input type="text" name="coupon_code" class="input-text"
                                               placeholder="Coupon code" id="coupon_code" value="">
                                    </p>
                                    <p class="form-row form-row-last">
                                        <button type="submit" class="button" name="apply_coupon" value="Apply coupon">
                                            Apply coupon
                                        </button>
                                    </p>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>




                        <div class="col2-set" id="customer_details">

                            <h3 id="order_review_heading">Your order</h3>
                            <div id="order_review" class="rustrot-checkout-review-order">
                                <table class="shop_table rustrot-checkout-review-order-table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-name">Quantity</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart_items %}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            {{ item.product.name }}
                                        </td>
                                        <td class="product-name">
                                            {{item.quantity}}
                                        </td>
                                        <td class="product-total">
                                            <span class="rustrot-Price-amount amount">
                                                <span class="rustrot-Price-currencySymbol"><strike>N</strike>
                                                </span>{{ item.total|floatformat:2|intcomma }}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Coupon</th>
                                        <td></td>
                                        <td>- <span class="rustrot-Price-amount amount"><span
                                                class="rustrot-Price-currencySymbol"><strike>N</strike></span>0.00</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td></td>
                                        <td><strong><span class="rustrot-Price-amount amount"><span
                                                class="rustrot-Price-currencySymbol"><strike>N</strike></span>{{totals|floatformat:2|intcomma}}</span></strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>

                                <button type="submit" onclick="makePaystackPayment()" class="button alt" name="rustrot_checkout_place_order"
                                        value="Place order" data-value="Place order">Place
                                    order
                                </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}