{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/breadcrumb.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
    .uppercase{
text-transform: uppercase;
    }
    body {
        font-family: Arial, sans-serif;
     
        background-color: #f9f9f9;
    }

    h1 {
        font-size: 24px;
        color: #333;
    }

    select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
    }

    #bankDetails {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        max-width: 400px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    #bankDetails p {
        margin: 8px 0;
        font-size: 16px;
    }

    .copy-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .copy-button {
        padding: 8px 15px;
        font-size: 14px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .copy-button:hover {
        background-color: #0056b3;
    }

    .message {
        font-size: 14px;
        color: green;
        display: none;
    }




</style>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">

            <div class="main-content col-md-12">
                <div class="page-main-content">


                        <form name="checkout" method="POST" class="checkou rustrot-checkou"
                              enctype="multipart/form-data"
                             >
                            {% csrf_token %}

                    <!-- Scrollable modal -->
                                        <div class="modal fade modal-dialog modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Make Payment</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                              <div class="modal-body">
                                                <select id="bankSelect">
                                                    <option value="">Select Bank</option>
                                                    {% for bank in banks %}
                                                        <option value="{{ bank.id }}">{{ bank.bank_name|upper }}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                                <div id="bankDetails" style="display: none;">
                                                    <p><strong>Bank Name:</strong> <span id="BankName" class="uppercase">N/A</span></p>
                                                    <p><strong>Account Name:</strong> <span id="accountName" class="uppercase">N/A</span></p>
                                                    <div class="copy-container">
                                                        <p><strong>Account Number:</strong> <span id="accountNumber">N/A</span></p>
                                                        <button type="button" class="copy-button" id="copyButton" style="background-color:#18443b; color:white;">Copy</button>
                                                    </div>
                                                    <span class="message" id="copyMessage">Copied!</span>
                                                </div>
                                            




                                           




{% comment %} 

                                                <select id="bankSelect">
                                                    <option value="">Select Bank</option>
                                                    {% for bank in banks %}
                                                        <option value="{{ bank.id }}">{{ bank.bank_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                                <div id="bankDetails" style="margin-top: 20px;">
                                                    <p><strong>Account Name:</strong> <span id="accountName">N/A</span></p>
                                                    <p><strong>Account Number:</strong> <span id="accountNumber">N/A</span></p>
                                                </div> {% endcomment %}
                                             
                                                  <div class="my-3">
                                                      <label for="formFile" class="form-label">Payment Receipt</label>
                                                      <input class="form-control" name="screenshot" type="file" id="formFile" required>
                                                    </div>

                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button  type="submit" class="btn" style="background-color:#18443b; color:white;">I have Made Payment</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                    <div class="rustrot">
                        <div class="rustrot-notices-wrapper"></div>
                        {% include 'partials/floating-messages.html' %}





                            <div class="" id="customer_details">
                                <div class="">
                                    <div class="rustrot-billing-fields">
                                        <h3>Billing details</h3>
                                        <div class="rustrot-billing-fields__field-wrapper">
                                            <p class="form-row form-row-first validate-required"
                                               id="billing_first_name_field" data-priority="10"><label
                                                    for="billing_first_name" class="">First name&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="first_name"
                                                                                        id="billing_first_name"
                                                                                        value=""
                                                                                        autofocus
                                                                                        autocomplete="given-name"></span>
                                            </p>
                                            <p class="form-row form-row-last validate-required"
                                               id="billing_last_name_field" data-priority="20"><label
                                                    for="billing_last_name" class="">Last name&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="last_name"
                                                                                        id="billing_last_name"
                                                                                        value=""
                                                                                        autocomplete="family-name"></span>
                                            </p>


                                            <p class="form-row form-row-wide address-field validate-required"
                                               id="billing_address_1_field" data-priority="50"><label
                                                    for="billing_address_1" class="">Address&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="address"
                                                                                        id="billing_address_1"
                                                                                        placeholder="House number and street name"
                                                                                        value=""
                                                                                       
                                                                                        autocomplete="address-line1"
                                                                                        data-placeholder="House number and street name"></span>
                                            </p>

                                            <p class="form-row  validate-required"
                                               data-priority="10"><label
                                                    for="billing_first_name" class="">LGA&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="lga"
                                                                                        value=""
                                                                                       
                                                                                        autocomplete="LGA"></span>
                                            </p>
                                            <p class="form-row  validate-required"
                                                data-priority="20"><label
                                                    class="">State&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="text"
                                                                                        class="input-text "
                                                                                        name="state"
                                                                                        value=""
                                                                                       
                                                                                        autocomplete="state"></span>
                                            </p>

                                            <p class="form-row  validate-required"
                                                data-priority="10"><label
                                                    for="email" class="">Email&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="email"
                                                                                        class="input-text "
                                                                                        name="email"
                                                                                        id="email"
                                                                                        value=""
                                                                                       
                                                                                        autocomplete="email"></span>
                                            </p>
                                            <p class="form-row  validate-required"
                                               id="phone_field" data-priority="20"><label
                                                    for="phone" class="">Mobile Number&nbsp;<abbr
                                                    class="required" title="required">*</abbr></label><span
                                                    class="rustrot-input-wrapper"><input type="tel"
                                                                                        class="input-text "
                                                                                        name="phone"
                                                                                        id="phone"
                                                                                        value=""
                                                                                       
                                                                                        autocomplete="phone"></span>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>





                            <h3 id="order_review_heading">Your order</h3>
                            <div id="order_review" class="rustrot-checkout-review-order">
                                <table class="shop_table rustrot-checkout-review-order-table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{ item.product.name }}&nbsp;&nbsp; <strong class="product-quantity">×
                                                {{ item.quantity }}</strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="rustrot-Price-amount amount">
                                                    <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                    {{ item.total_price|floatformat:2|intcomma }}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="rustrot-Price-amount amount"><span
                                                class="rustrot-Price-currencySymbol">&#8358;</span>{{ cart.get_total_cost|floatformat:2|intcomma }}</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong><span class="rustrot-Price-amount amount"><span
                                                class="rustrot-Price-currencySymbol">&#8358;</span>{{ cart.get_total_cost|floatformat:2|intcomma }}</span></strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <input type="hidden" name="lang" value="en">
                                <div id="payment" class="rustrot-checkout-payment">

                                    <div class="form-row place-order">

                                        <button type="button" class="button alt" name="rustrot_checkout_place_order"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="Place order" data-value="Place order">Place
                                            order
                                        </button>


                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // Handle dropdown change
        $('#bankSelect').on('change', function () {
            const bankId = $(this).val();
            if (bankId) {
                $.ajax({
                    url: "{% url 'get_bank_details' %}",
                    data: { bank_id: bankId },
                    dataType: 'json',
                    success: function (response) {
                        if (response.status === 'success') {
                            $('#BankName').text(response.data.bankName);
                            $('#accountName').text(response.data.account_name);
                            $('#accountNumber').text(response.data.account_number);
                            $('#bankDetails').fadeIn();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Error fetching bank details');
                    }
                });
            } else {
                $('#bankDetails').fadeOut();
            }
        });

        // Copy button functionality
        $('#copyButton').on('click', function () {
            const accountNumber = $('#accountNumber').text();
            navigator.clipboard.writeText(accountNumber).then(function () {
                const message = $('#copyMessage');
                message.fadeIn().delay(1000).fadeOut(); // Show message temporarily
            });
        });
    });
</script>


{% endblock content %}