{% extends 'partials/base.html' %}

{% load static %}

{% block content %}


{% include 'partials/breadcrumb.html' %}


<div class="fullwidth-template">
    <div class="section-maps">
        <div class="map-wrap">
            <div class="maps-info">
                <div class="maps-info-inner">
                    <h3>New York Office</h3>
                    <div class="desc">
                        <p>198 West 21th Street, Suite 721 <br>
                            New York NY 10010</p>
                        <p>Phone: 0 (800) 456 789<br>
                            Fax 0 (800) 456 789<br>
                            Email: info@rustrot.com<br>
                            Hours 9am – 4pm (local time)</p>
                    </div>
                </div>
            </div>
            <div class="maps-google">
                <iframe width="100%" height="600"
                        src="https://maps.google.com/maps?q=198%20West%2021th%20Street,%20Suite%20721%20New%20York%20NY%2010010&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="map-wrap">
            <div class="maps-info">
                <div class="maps-info-inner">
                    <h3>Calgary Office</h3>
                    <div class="desc">
                        <p>1400, 350 – 7th Avenue SW<br>
                            Calgary, AB T2P 3N9</p>
                        <p>Phone: 0 (800) 456 789<br>
                            Fax 0 (800) 456 789<br>
                            Email: info@rustrot.com<br>
                            Hours 9am – 4pm (local time)</p>
                    </div>
                </div>
            </div>
            <div class="maps-google">
                <iframe width="100%" height="600"
                        src="https://maps.google.com/maps?q=400,%20350%20%E2%80%93%207th%20Avenue%20SW%20Calgary,%20AB%20T2P%203N9&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="map-wrap">
            <div class="maps-info">
                <div class="maps-info-inner">
                    <h3>San Francisco Office</h3>
                    <div class="desc">
                        <p>Pier 28 Annex The Embarcadero <br>
                            San Francisco, CA 94105</p>
                        <p>Phone: 0 (800) 456 789<br>
                            Fax 0 (800) 456 789<br>
                            Email: info@rustrot.com<br>
                            Hours 9am – 4pm (local time)</p>
                    </div>
                </div>
            </div>
            <div class="maps-google">
                <iframe width="100%" height="600"
                        src="https://maps.google.com/maps?q=Pier%2028%20Annex%20The%20Embarcadero%20San%20Francisco,%20CA%2094105&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="section-042">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="rustrot-heading style-03">
                    <div class="heading-inner">
                        <h2 class="title">Get In Touch<span></span></h2>
                    </div>
                </div>
                <div role="form" class="wpcf7">
                    <form class="wpcf7-form">
                        <p><span class="wpcf7-form-control-wrap your-name">
                                            <input name="your-name" value="" size="40"
                                                   class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                   type="text" placeholder="Your Name"></span></p>
                        <p><span class="wpcf7-form-control-wrap your-email">
                                            <input name="your-email" value="" size="40"
                                                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                   type="email" placeholder="Your Email"></span></p>
                        <p><span class="wpcf7-form-control-wrap your-message">
                                            <textarea name="your-message"
                                                      cols="40" rows="4"
                                                      class="wpcf7-form-control wpcf7-textarea"
                                                      placeholder="Message"></textarea></span>
                        </p>
                        <p><input value="Send" class="wpcf7-form-control wpcf7-submit" type="submit"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
