{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/breadcrumb.html' %}





<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="rustrot">
                        {% include 'partials/dash-nav.html' %}
                        <div class="rustrot-MyAccount-content">
                            <div class="rustrot-notices-wrapper"></div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <label>First name</label><br>
                                        <strong>{{ user.first_name }}</strong>
                                    </p>
                                </div>
                                <div class="col">
                                    <p >
                                        <label>Last name</label><br>
                                        <strong>{{ user.last_name }}</strong>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <label>Email</label><br>
                                        <strong>{{ user.email }}</strong>
                                    </p>
                                </div>
                                <div class="col">
                                    <p >
                                        <label>Phone Number</label><br>
                                        <strong>{{ user.phone }}</strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}