{% extends 'partials/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<style>

     .carousel-item {
        background-color: #000; /* or any color that matches your images */
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
    }

    .carousel-item img {
        display: block;
        width: 100%;
        opacity: 1;
    }

    .carousel-item img,
     .carousel-item video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 10px;
    width: 90%; /* Ensures caption doesn't overflow on smaller screens */
    border-radius: 5px;
}

.carousel-caption h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 0.9rem; /* Smaller font size for smaller screens */
    }

    .carousel-caption p {
        font-size: 1.5rem;
    }

    .section-022 {
        margin-top:1px !important;
    }

}

</style>

<div class="fullwidth-template">

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
        <!-- Slide 1: Image -->
        <div class="carousel-item active">
            <img src="{% static 'assets/images/slide1.jpg' %}" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption">
                <h5>Welcome to the Pinnacle of Fashion. The Essence of luxury</h5>
<!--                <p>Welcome to the Pinnacle of Fashion. The Essence of luxury</p>-->
            </div>
        </div>

        <!-- Slide 2: Image -->
        <div class="carousel-item">
            <img src="{% static 'assets/images/slide2.jpg' %}" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption">
                <h5>Second Slide Caption</h5>
<!--                <p>Description for the second slide.</p>-->
            </div>
        </div>

        <!-- Slide 3: Video (No Caption) -->
        <div class="carousel-item">
            <video class="d-block w-100" autoplay muted loop>
                <source src="{% static 'assets/images/slide5.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <!-- Slide 4: Image -->
        <div class="carousel-item">
            <img src="{% static 'assets/images/slide3.jpg' %}" class="d-block w-100" alt="Slide 4">
            <div class="carousel-caption">
                <h5>Fourth Slide Caption</h5>
<!--                <p>Description for the fourth slide.</p>-->
            </div>
        </div>
    </div>

    <!-- Controls for navigation -->
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>



    <div class="section-022" style="margin-top:0px;">
        <div class="container">
            <div class="rustrot-heading style-02">
                <div class="heading-inner">
                    <h2 class="title">New Arrivals<span></span></h2>
                </div>
            </div>
            <div class="rustrot-products style-01">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">

                    {% for product in products %}

                    <div class="product-item recent-product style-01 rows-space-0 post-93 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="{% url 'product-detail' product.id %}" tabindex="0">
                                    <img class="img-responsive"
                                         src="{{product.cover_image.url}}"
                                         alt="{{product.name}}" width="270" height="350">
                                </a>
                                <div class="flash">
                                    {% if product.percentage_discount %}
                                        <span class="onsale"><span class="number">-{{product.percentage_discount}}%</span></span>
                                    {% endif %}
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">

                                    {% if user.is_authenticated %}

                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#"
                                               class="add_to_wishlist"
                                               data-url="{% url 'add-remove-from-wishlist' %}"
                                               data-product-id="{{ product.id }}">
                                               Add to Wishlist
                                            </a>

                                        </div>
                                    </div>

                                    {% endif %}

                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button"
                                           data-url="{% url 'add_to_cart' %}"
                                           data-product-id="{{ product.id }}">
                                           Add to cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="{% url 'product-detail' product.id %}"
                                       tabindex="0">{{product.name}}</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                {% if product.percentage_discount %}
                                        <span class="price">
                                            <del><span class="rustrot-Price-amount amount">
                                                <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                {{product.price|floatformat:2|intcomma}}</span>
                                            </del>
                                            <ins>
                                                <span class="rustrot-Price-amount amount">
                                                    <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                    {{product.discounted_price|floatformat:2|intcomma}}
                                                </span>
                                            </ins>
                                        </span>
                                    {% else %}
                                    <span class="price">
                                        <span class="rustrot-Price-amount amount">
                                            <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                            {{product.price|floatformat:2|intcomma}}
                                        </span>
                                    </span>
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    {% empty %}

                        <h3>There are no new products at this time...please check back later</h3>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="section-0211">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="rustrot-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="{% static 'assets/images/best-selling.png' %}"
                                     class="attachment-full size-full" alt="img">
                            </figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <div class="banner-label">New Trends</div>
                                        <h6 class="title">Best Selling</h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="{% url 'shop' %}"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="{% static 'assets/images/luxe-kicks.png' %}"
                                     class="attachment-full size-full" alt="img">
                            </figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">Luxe Kicks</h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="{% url 'shop' %}"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rustrot-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="{% static 'assets/images/brand-logo.png' %}"
                                     class="attachment-full size-full" alt="img">
                            </figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">Triluxe The Brand</h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="{% url 'shop' %}"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="{% static 'assets/images/mtc.png' %}"
                                     class="attachment-full size-full" alt="img">
                            </figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <div class="banner-label">MTC</div>
                                        <h6 class="title">More Than Clothes </h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="{% url 'shop' %}"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001 section-024">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-products style-06">
                        <h3 class="title">
                            <span>Best selling</span>
                        </h3>
                        <div class="response-product product-list-owl owl-slick equal-container better-height"
                             data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:3}"
                             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                            {% for product in products %}
                            <div class="product-item best-selling style-06 rows-space-30 post-25 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-specials product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a class="thumb-link"
                                           href="{% url 'product-detail' product.id  %}"
                                           tabindex="0">
                                            <img class="img-responsive"
                                                 src="{{product.cover_image.url}}"
                                                 alt="Modern Cardigans" width="90" height="90">
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="{% url 'product-detail' product.id  %}"
                                               tabindex="0">{{product.name}}</a>
                                        </h3>
                                        <div class="rating-wapper nostar">
                                            <div class="star-rating"><span
                                                    style="width:0%">Rated <strong
                                                    class="rating">0</strong> out of 5</span></div>
                                            <span class="review">(0)</span></div>
                                            {% if product.percentage_discount %}
                                                <span class="price">
                                                    <del><span class="rustrot-Price-amount amount">
                                                        <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                        {{product.price|floatformat:2|intcomma}}</span>
                                                    </del>
                                                    <ins>
                                                        <span class="rustrot-Price-amount amount">
                                                            <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                            {{product.discounted_price|floatformat:2|intcomma}}
                                                        </span>
                                                    </ins>
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    <span class="rustrot-Price-amount amount">
                                                        <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                        {{product.price|floatformat:2|intcomma}}
                                                    </span>
                                                </span>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% empty %}

                            <h3>There are no products at this time...please check back later</h3>

                            {% endfor %}

                        </div>
                    </div>
                </div>








                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-products style-06">
                        <h3 class="title">
                            <span>On Sale</span>
                        </h3>
                        <div class="response-product product-list-owl owl-slick equal-container better-height"
                             data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:3}"
                             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                            {% for product in products %}

                            <div class="product-item on_sale style-06 rows-space-30 post-36 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_tag-light product_tag-table product_tag-sock first instock sale shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a class="thumb-link"
                                           href="{% url 'product-detail' product.id  %}"
                                           tabindex="0">
                                            <img class="img-responsive"
                                                 src="{{product.cover_image.url}}"
                                                 alt="{{product.name}}" width="90" height="90">
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="{% url 'product-detail' product.id  %}"
                                               tabindex="0">{{product.name}}</a>
                                        </h3>
                                        <div class="rating-wapper nostar">
                                            <div class="star-rating"><span
                                                    style="width:0%">Rated <strong
                                                    class="rating">0</strong> out of 5</span></div>
                                            <span class="review">(0)</span></div>
                                            {% if product.percentage_discount %}
                                                <span class="price">
                                                    <del><span class="rustrot-Price-amount amount">
                                                        <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                        {{product.price|floatformat:2|intcomma}}</span>
                                                    </del>
                                                    <ins>
                                                        <span class="rustrot-Price-amount amount">
                                                            <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                            {{product.discounted_price|floatformat:2|intcomma}}
                                                        </span>
                                                    </ins>
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    <span class="rustrot-Price-amount amount">
                                                        <span class="rustrot-Price-currencySymbol">&#8358;</span>
                                                        {{product.price|floatformat:2|intcomma}}
                                                    </span>
                                                </span>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% empty %}

                            <h3>There are no products at this time...please check back later</h3>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="rustrot-banner style-12 left-center">
                                <div class="banner-inner">
                                    <figure class="banner-thumb banner-thumb1">
                                        <img src="{% static 'assets/images/best-selling.png' %}"
                                             class="attachment-full size-full" alt="img" width='100' height='20'></figure>
                                    <div class="banner-info ">
                                        <div class="banner-content">
                                            <div class="title-wrap">
                                                <h6 class="title">Triluxe Men</h6>
                                            </div>
<!--                                            <div class="cate">Adipiscing elitet</div>-->
                                            <div class="button-wrap">
                                                <a class="button" target="_self"
                                                   href="{% url 'shop' %}"><span>Show now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="rustrot-banner style-12 left-center">
                                <div class="banner-inner">
                                    <figure class="banner-thumb banner-thumb1">
                                        <img src="{% static 'assets/images/mtc.png' %}"
                                             class="attachment-full size-full" alt="img"></figure>
                                    <div class="banner-info ">
                                        <div class="banner-content">
                                            <div class="title-wrap">
                                                <h6 class="title">More Than Clothes</h6>
                                            </div>
<!--                                            <div class="cate">Cras pulvinar</div>-->
                                            <div class="button-wrap">
                                                <a class="button" target="_self"
                                                   href="{% url 'shop' %}"><span>Show now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001 section-031">
        <div class="container">
            <div class="rustrot-products style-07">
                <div class="response-product product-list-grid row auto-clear equal-container better-height ">
                    <div class="product-item products style-07 rows-space-0 col-bg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-ts-12 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                        <div class="product-inner" data-items="2">
                            <div class="product-thumb">
                                <div class="product-gallery">
                                    <div class="product-gallery-slick">
                                        <figure class="product-gallery-image"><img
                                                src="{% static 'assets/images/apro1211-2-592x592.jpg' %}"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                        <figure class="product-gallery-image"><img
                                                src="{% static 'assets/images/apro1221-2-592x592.jpg' %}"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                        <figure class="product-gallery-image"><img
                                                src="{% static 'assets/images/apro1231-2-592x592.jpg' %}"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                    </div>
                                    <div class="gallery-dots">
                                        <figure><img
                                                src="{% static 'assets/images/apro1211-2-90x90.jpg' %}"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                        <figure><img
                                                src="{% static 'assets/images/apro1221-2-90x90.jpg' %}"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                        <figure><img
                                                src="{% static 'assets/images/apro1231-2-90x90.jpg' %}"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-info-inner">
                                    <h3 class="title">
                                        Deals of the day <span></span></h3>
                                    <span class="onsale"><span class="number">-14%</span></span>
                                    <h3 class="product-name product_title">
                                        <a href="single-product.html">Plain Cotton Socks</a>
                                    </h3>
                                    <span class="price"><del><span class="rustrot-Price-amount amount"><span
                                            class="rustrot-Price-currencySymbol">$</span>138.00</span></del> <ins><span
                                            class="rustrot-Price-amount amount"><span
                                            class="rustrot-Price-currencySymbol">$</span>119.00</span></ins></span>
                                    <div class="process-valiable">
                                        <div class="valiable-text">
                                            <span class="text">9% Already Sold </span>
                                            <span class="text">Available: <span>21</span></span>
                                        </div>
                                        <span class="valiable-total total">
                                                <span class="process" style="width: 9%"></span>
                                            </span>
                                    </div>
                                    <div class="countdown-product">
                                        <div class="rustrot-countdown" data-datetime="11/29/2023 12:00:00"><span
                                                class="days"><span class="number">438</span><span
                                                class="text">Days</span></span><span class="hour"><span
                                                class="number">02</span><span
                                                class="text">Hours</span></span><span class="mins"><span
                                                class="number">05</span><span
                                                class="text">Mins</span></span><span class="secs"><span
                                                class="number">27</span><span
                                                class="text">Secs</span></span></div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="cart.html"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add
                                            to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OWL Products -->
            </div>
        </div>
    </div>

    {% if top_shoppers %}

    <div class="section-033">
        <div class="container">

            <div class="section-034">
                <h2 class="title">Our Top Shoppers</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 col-xl-5 col-lg-5">
                        <div class="rustrot-slide">
                            <div class="owl-slick equal-container better-height"
                                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
                                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">

                                {% for shopper in top_shoppers %}
                                    <div class="rustrot-testimonial style-02">
                                        <div class="testimonial-inner">
                                            <p class="desc">{{ shopper.review }}</p>
                                            <div class="testimonial-info">
                                                <div class="intro">
                                                    <h3 class="name">
                                                        <a tabindex="0">
                                                            {{ shopper.full_name }} </a>
                                                    </h3>
                                                    <div class="position">
                                                        {{ shopper.role }}
                                                    </div>
                                                </div>
                                                <div class="thumb">
                                                    <img src="{{ shopper.image.url }}"
                                                         class="attachment-full size-full" alt="img" width="97"
                                                         height="97"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="section-007">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-rocket-ship"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Free Delivery</h4>
                                <div class="desc">On order over &#8358;300,000.00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-return"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Money Guarantee</h4>
                                <div class="desc">30 Days money back!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="rustrot-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-padlock"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Online Support 24/7 </h4>
                                <div class="desc">We’re Always here!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-050">
        <div class="rustrot-instagram style-01">
            <div class="instagram-owl owl-slick"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;0&quot;}}]">

                <div class="rows-space-0">
                    <a target="_blank" href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="{% static 'assets/images/insta2.jpg' %}" alt="Home 03">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="{% static 'assets/images/insta3.jpg' %}" alt="Home 03">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="{% static 'assets/images/insta4.jpg' %}" alt="Home 03">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="{% static 'assets/images/insta5.jpg' %}" alt="Home 03">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="{% static 'assets/images/insta6.jpg' %}" alt="Home 03">
                        <span class="instagram-info">
                             <span class="social-wrap">
                                <span class="social-info">1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-051">
        <div class="rustrot-socials">
            <div class="owl-slick"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;0&quot;}}]">

                <a href="https://www.instagram.com/triluxe_fashion_house?igsh=MzRlODBiNWFlZA==" target="_blank" tabindex="0">
                    <span>Instagram</span>
                    <i class="fa fa-instagram"></i>
                </a>

            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function() {
        $('#homeCarousel').carousel({
            interval: 5000 // Set the interval to 5 seconds
        });

        // Preload images to prevent flickering
        $('.carousel-item img').each(function() {
            var img = new Image();
            img.src = $(this).attr('src');
        });
    });


    $(window).on('load', function() {
        $('#homeCarousel').carousel();
    });


    document.querySelectorAll('.add_to_cart_button').forEach(function(button) {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        var productId = this.getAttribute('data-product-id');
        var url = this.getAttribute('data-url');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'add'
            },
            success: function(response) {
                // Handle the success, like updating the cart count or showing a message
                console.log('Product added to cart');
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                // Handle the error
                console.error('An error occurred while adding the product to cart');
            }
        });
    });
});



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>


{% endblock content %}
