{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/breadcrumb.html' %}



<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="rustrot">
<!--                        <form class="track_order">-->
                            <p>You're about to make a payment of <strong>&#8358;{{ total_cost|floatformat:2|intcomma }}</strong></p>

                            <div class="clear"></div>

<!--                        </form>-->

                        <p class="form-row">
                                <button onclick="payWithPaystack()" class="button">Make Payment</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




<script>
    function payWithPaystack() {
        let currency = 'NGN';
        let plan = '';
        let ref = '{{payment.ref}}';
        let amount = '{{payment.amount}}';
        let pubKey = '{{paystack_pub_key}}';
        let obj = {
            key: pubKey,
            email: '{{payment.email}}',
            amount: '{{amount}}',
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify_payment' payment.ref %}";
            },
        };
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase();
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }

</script>

<script type="application/javascript" src="https://js.paystack.co/v1/inline.js"></script>




{% endblock content %}





