{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/breadcrumb.html' %}



<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="rustrot">
                        <form class="track_order" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <p>Bank Name : {{bank.bank_name}}</p>
                            <p>Account Name : {{bank.account_name}}</p>
                            <p>Account Number : {{bank.account_number}}</p>

                            <p>You're about to make a payment of <strong>&#8358;{{ total_cost|floatformat:2|intcomma }}</strong></p>

                            <p class="rustrot-form-row rustrot-form-row--wide form-row form-row-wide">
                                <label for="last-name">Please Upload a screenshot of your payment receipt <span
                                        class="required">*</span></label>
                                <input type="file" class="rustrot-Input rustrot-Input--text input-text"
                                       name="screenshot" id="last-name" value="">
                            </p>

                            <div class="clear"></div>
                            <p class="form-row">
                                <button type="submit" class="button">I have made payment</button>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





{% endblock content %}





