{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}


<style>
    .reviews-section {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        margin-top: 30px;
    }

    .reviews-list .single-review {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .review-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .review-author strong {
        font-size: 1.1em;
    }

    .review-date small {
        font-size: 0.9em;
        color: #666;
    }

    .review-rating .stars {
        display: inline-block;
        color: #ffcc00;
        font-size: 18px;
    }

    .review-rating .stars .star {
        color: #ccc;
        margin-right: 2px;
    }

    .review-rating .stars .star.filled {
        color: #ffcc00;
    }

    .review-content {
        margin-top: 10px;
        font-size: 1em;
        color: #333;
    }

</style>

<div class="banner-wrapper">
    <div class="container">
        <a href="{% url 'shop' %}" class="parent-title">Shop</a>
        <h2 class="page-title">{{title}}</h2>
    </div>
</div>
<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="rustrot-notices-wrapper"></div>
                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="rustrot-product-gallery rustrot-product-gallery--with-images rustrot-product-gallery--columns-4 images">
                                    <a href="#" class="rustrot-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍"
                                             src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg"></a>
                                    <div class="flex-viewport">
                                        <figure class="rustrot-product-gallery__wrapper">
                                            <div class="rustrot-product-gallery__image">
                                                <img alt="img"
                                                     src="{{product.cover_image.url}}">
                                            </div>

                                            {% if product.image1 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image1.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}
                                            {% if product.image2 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image2.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}
                                            {% if product.image3 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image3.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}
                                            {% if product.image4 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image4.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}
                                            {% if product.image5 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image5.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}
                                            {% if product.image6 %}
                                            <div class="rustrot-product-gallery__image">
                                                <img src="{{product.image6.url}}"
                                                     alt="img">
                                            </div>
                                            {% endif %}

                                        </figure>
                                    </div>
                                    <ol class="flex-control-nav flex-control-thumbs">
                                        <li><img
                                                src="{{product.cover_image.url}}"
                                                alt="img">
                                        </li>

                                        {% if product.image1 %}
                                        <li>
                                            <img src="{{product.image1.url}}" alt="img">
                                        </li>
                                        {% endif %}
                                        {% if product.image2 %}
                                        <li>
                                            <img src="{{product.image2.url}}" alt="img">
                                        </li>
                                        {% endif %}
                                        {% if product.image3 %}
                                        <li>
                                            <img src="{{product.image3.url}}" alt="img">
                                        </li>
                                        {% endif %}
                                        {% if product.image4 %}
                                        <li>
                                            <img src="{{product.image4.url}}" alt="img">
                                        </li>
                                        {% endif %}
                                        {% if product.image5 %}
                                        <li>
                                            <img src="{{product.image5.url}}" alt="img">
                                        </li>
                                        {% endif %}
                                        {% if product.image6 %}
                                        <li>
                                            <img src="{{product.image6.url}}" alt="img">
                                        </li>
                                        {% endif %}

                                    </ol>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <h1 class="product_title entry-title">{{product.name}}</h1>
                                <p class="price">
                                    {% if product.percentage_discount %}
                                        <span class="price">
                                            <del><span class="rustrot-Price-amount amount">
                                                <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                                {{product.price|floatformat:2|intcomma}}</span>
                                            </del>
                                            <ins>
                                                <span class="rustrot-Price-amount amount">
                                                    <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                                    {{product.discounted_price|floatformat:2|intcomma}}
                                                </span>
                                            </ins>
                                        </span>
                                    {% else %}
                                        <span class="price">
                                            <span class="rustrot-Price-amount amount">
                                                <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                                {{product.price|floatformat:2|intcomma}}
                                            </span>
                                        </span>
                                    {% endif %}
                                </p>
                                <p class="stock in-stock">
                                    Availability: <span> {{product.availability}}</span>
                                </p>
                                <div class="rustrot-product-details__short-description">
                                    <p>{{ product.description }}</p>


                                </div>
                                <form class="variations_form cart">
                                    {% if product.colors.all %}
                                    <table class="variations">
                                        <tbody>
                                        <tr>
                                            <td class="label"><label>Color</label></td>
                                            <td class="value">
                                                <select title="box_style" data-attributetype="box_style"
                                                        data-id="pa_color"
                                                        class="attribute-select " name="attribute_pa_color"
                                                        data-attribute_name="attribute_pa_color"
                                                        data-show_option_none="yes">
                                                    <option data-type="" data-pa_color="" value="">Choose an option
                                                    </option>
                                                    {% for color in product.colors.all %}
                                                    <option data-width="30" data-height="30" data-type="color"
                                                            data-pa_color="#{{color.hex_code}}" value="{{color.name}}"
                                                            class="attached enabled">{{color.name}}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                                <div class="data-val attribute-pa_color"
                                                     data-attributetype="box_style">
                                                    {% for color in product.colors.all %}
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #3155e2;" data-value="{{color.name}}">
                                                                </span>
                                                        </label>
                                                    {% endfor %}

                                                </div>
                                                <a class="reset_variations" href="#"
                                                   style="visibility: hidden;">Clear</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <div class="single_variation_wrap">
                                        <div class="rustrot-variation single_variation"></div>
                                        <div class="rustrot-variation-add-to-cart variations_button ">
                                            <div class="quantity">
                                                <span class="qty-label">Quantity:</span>
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input id="qty-cart" type="text" data-step="0" value="1" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*">
                                                    <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                </div>
                                            </div>
                                            <button type="button" value="{{ product.id }}" id="add-cart" data-url="{% url 'add_to_cart' %}"
                                                    class="single_add_to_cart_button button alt rustrot-variation-selection-needed">
                                                Add to cart
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                {% if user.is_authenticated %}
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a data-url="{% url 'add-remove-from-wishlist' %}"
                                           data-product-id="{{ product.id }}"
                                           class="add_to_wishlist wishlist-button">
                                            Add to Wishlist
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="clear"></div>

                                <div class="product_meta">

                                    <span class="sku_wrapper">SKU: <span class="sku">{{product.sku}}</span></span>
                                    {% if product.categories.all %}
                                        <span class="posted_in">Categories:
                                            {% for category in product.categories.all %}
                                                <a href="#" rel="tag">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    {% if product.tags.all %}
                                    <span class="tagged_as">Tags:
                                        {% for tag in product.tags.all %}
                                            <a href="#" rel="tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </span>
                                    {% endif %}

                                </div>
                                <div class="rustrot-share-socials">
                                    <h5 class="social-heading">Share: </h5>
                                    <a target="_blank" class="facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" class="twitter"
                                       href="#"><i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" class="googleplus"
                                       href="#"><i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rustrot-tabs rustrot-tabs-wrapper">
                        <ul class="tabs dreaming-tabs" role="tablist">
                            <li class="description_tab active" id="tab-title-description" role="tab"
                                aria-controls="tab-description">
                                <a href="#tab-description">Description</a>
                            </li>
                            <li class="additional_information_tab" id="tab-title-additional_information" role="tab"
                                aria-controls="tab-additional_information">
                                <a href="#tab-additional_information">Additional information</a>
                            </li>
                            <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">Reviews ({{product.reviews_count}})</a>
                            </li>
                        </ul>
                        <div class="rustrot-Tabs-panel rustrot-Tabs-panel--description panel entry-content rustrot-tab"
                             id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>Description</h2>
                            <div class="container-table">
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">{{product.name}}</h2>
                                    <p>{{product.description}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="rustrot-Tabs-panel rustrot-Tabs-panel--additional_information panel entry-content rustrot-tab"
                             id="tab-additional_information" role="tabpanel"
                             aria-labelledby="tab-title-additional_information">
                            <h2>Additional information</h2>
                            <table class="shop_attributes">
                                <tbody>
                                {% if product.colors.all %}
                                <tr>
                                    <th>Color</th>
                                    <td>{% for color in product.colors.all %}
                                                <p>{{ color.name }}</p>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="rustrot-Tabs-panel rustrot-Tabs-panel--reviews panel entry-content rustrot-tab"
                             id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div id="reviews" class="rustrot-Reviews">
                                <div class="reviews-section">
                                    <h3>Customer Reviews</h3>
                                    {% if product.reviews.exists %}
                                        <div class="reviews-list">
                                            {% for review in product.reviews.all %}
                                                <div class="single-review">
                                                    <div class="review-header">
                                                        <div class="review-author">
                                                            <strong>{{ review.user.first_name }} {{ review.user.last_name }}</strong>
                                                        </div>
                                                        <div class="review-date">
                                                            <small>{{ review.created_at|date:"F j, Y" }}</small>
                                                        </div>
                                                    </div>
                                                    <div class="review-rating">
                                                        <span class="stars">

                                                                <span class="star"
                                                                      style="color:

                                                                                {% if review.rating == 1 %} red
                                                                                {% elif review.rating == 2 %} orange
                                                                                {% elif review.rating == 3 %} yellow
                                                                                {% elif review.rating == 4 %} lightgreen
                                                                                {% elif review.rating == 5 %} green
                                                                                {% endif %}
                                                                            ">
                                                                                {% if review.rating == 1 %}★
                                                                                {% elif review.rating == 2 %} ★★
                                                                                {% elif review.rating == 3 %} ★★★
                                                                                {% elif review.rating == 4 %} ★★★★
                                                                                {% elif review.rating == 5 %} ★★★★★
                                                                                {% endif %}
                                                                </span>

                                                        </span>



                                                    </div>
                                                    <div class="review-content">
                                                        <p>{{ review.review }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No reviews yet. Be the first to review this product!</p>
                                    {% endif %}
                                </div>

                                <div id="review_form_wrapper" style="margin-top:40px !important;">
                                    <h3>Rate this Product</h3>
                                    <div id="review_for">
                                        <div id="respond" class="comment-respond" style="margin-top:40px !important;">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="comment-form-rating">
                                                    <label for="rating">Your rating</label>
                                                    <p class="stars">
                                                        <span>
                                                            <a class="star-1" href="#">1</a>
                                                            <a class="star-2" href="#">2</a>
                                                            <a class="star-3" href="#">3</a>
                                                            <a class="star-4" href="#">4</a>
                                                            <a class="star-5" href="#">5</a>
                                                        </span>
                                                    </p>
                                                    <select title="rating" name="rating" id="rating" required="" style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select>
                                                </div>
                                                <p class="comment-form-comment">
                                                    <label for="comment">Your review&nbsp;<span class="required">*</span></label>
                                                    <textarea id="comment" name="review" cols="45" rows="8" required=""></textarea>
                                                    <input name="product_id" value="{{product.id}}" type="hidden">
                                                </p>

                                                <p class="form-submit">
                                                    <button type="submit" class="rustrot-Button button" name="submit" value="Submit">Submit</button>
                                                </p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if related_products %}
            <div class="col-md-12 col-sm-12 dreaming_related-product">
                <div class="block-title">
                    <h3 class="product-grid-title">
                        Related Products
                        <span></span>
                    </h3>
                </div>
                <div class="owl-slick owl-products equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    {% for related_product in related_products %}
                    <div class="product-item style-01 post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock  instock shipping-taxable purchasable product-type-variable has-default-attributes ">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="{% url 'product-detail' related_product.id %}" tabindex="0">
                                    <img class="img-responsive"
                                         src="{{ related_product.cover_image.url }}"
                                         alt="Basic Long Sleeve " width="600" height="778">
                                </a>
                                <div class="flash"><span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                    {% comment %} <div class="rustrot product compare-button">
                                        <a href="compare.html" class="compare button">Compare</a>
                                    </div> {% endcomment %}
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="add-to-cart">
                                        <a href="#" class="button product_type_variable add_to_cart_button">Add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="{% url 'product-detail' related_product.id %}"
                                       tabindex="0">{{ related_product.name }}</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="rustrot-Price-amount amount"><span
                                        class="rustrot-Price-currencySymbol">$</span>60.00</span></span>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>


<script>

     document.querySelectorAll('.add_to_wishlist').forEach(function(button) {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        var productId = this.getAttribute('data-product-id');
        var url = this.getAttribute('data-url');

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'add'
            },
            success: function(response) {
                // Handle the success, like updating the wishlist count or showing a message
                console.log('Product added to wishlist');
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                // Handle the error
                console.error('An error occurred while adding the product to wishlist');
            }
        });
    });
});


    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.stars a');
        const ratingSelect = document.getElementById('rating');

        stars.forEach(star => {
            star.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent link default behavior

                // Get the star value (e.g., "1", "2", etc.)
                const starValue = this.classList[0].split('-')[1];

                // Update the hidden select value
                ratingSelect.value = starValue;

                // Update visual state of stars (highlight selected stars)
                stars.forEach(s => {
                    if (s.classList[0].split('-')[1] <= starValue) {
                        s.classList.add('selected'); // Add highlight class to selected stars
                    } else {
                        s.classList.remove('selected'); // Remove highlight class from unselected stars
                    }
                });
            });
        });
    });


</script>
{% endblock content %}