{% extends 'partials/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}


{% include 'partials/breadcrumb.html' %}


<div class="main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="rustrot-ordering" method="get">
                        <select title="product_cat" name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by latest</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                        </select>
                    </form>
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage">
                                <option value="12" selected="">
                                    Show 12
                                </option>
                                <option value="5">
                                    Show 05
                                </option>
                                <option value="10">
                                    Show 10
                                </option>
                                <option value="12">
                                    Show 12
                                </option>
                                <option value="15">
                                    Show 15
                                </option>
                                <option value="20">
                                    Show All
                                </option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class=" auto-clear rustrot-products">
                    <ul class="row products columns-3">

                        {% for product in products %}
                        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="{% url 'product-detail' product.id %}">
                                        <img class="img-responsive"
                                             src="{{product.cover_image.url}}"
                                             alt="{{product.name}}" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        {% if product.percentage_discount %}
                                            <span class="onsale"><span class="number">-{{product.percentage_discount}}%</span></span>
                                        {% endif %}
                                        <span class="onnew"><span class="text">New</span></span></div>
                                    <form class="variations_form cart">
                                        <table class="variations">
                                            <tbody>
                                            <tr>
                                                <td class="value">
                                                    <select title="box_style" data-attributetype="box_style"
                                                            data-id="pa_color"
                                                            class="attribute-select " name="attribute_pa_color"
                                                            data-attribute_name="attribute_pa_color"
                                                            data-show_option_none="yes">
                                                        <option data-type="" data-pa_color="" value="">Choose an
                                                            option
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#3155e2" value="blue"
                                                                class="attached enabled">Blue
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#52b745" value="green"
                                                                class="attached enabled">Green
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#ffe59e" value="pink"
                                                                class="attached enabled">Pink
                                                        </option>
                                                    </select>
                                                    <div class="data-val attribute-pa_color"
                                                         data-attributetype="box_style">
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #3155e2;" data-value="blue">
                                                            </span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #52b745;" data-value="green">
                                                            </span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #ffe59e;" data-value="pink">
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="24">Quick View</a>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div>
                                        <div class="rustrot product compare-button">
                                            <a href="compare.html" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a>
                                        <div class="add-to-cart">
                                            <a href="cart.html" class="button product_type_variable add_to_cart_button">Select
                                                options</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="{% url 'product-detail' product.id  %}">{{product.name}}</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating"><span style="width:0%">Rated <strong
                                                class="rating">0</strong> out of 5</span></div>
                                        <span class="review">(0)</span></div>
                                    {% if product.percentage_discount %}
                                        <span class="price">
                                            <del><span class="rustrot-Price-amount amount">
                                                <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                                {{product.price|floatformat:2|intcomma}}</span>
                                            </del>
                                            <ins>
                                                <span class="rustrot-Price-amount amount">
                                                    <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                                    {{product.discounted_price|floatformat:2|intcomma}}
                                                </span>
                                            </ins>
                                        </span>
                                    {% else %}
                                    <span class="price">
                                        <span class="rustrot-Price-amount amount">
                                            <span class="rustrot-Price-currencySymbol"><del>N</del></span>
                                            {{product.price|floatformat:2|intcomma}}
                                        </span>
                                    </span>
                                    {% endif %}
                                    <div class="rustrot-product-details__short-description">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante.</p>
                                        <ul>
                                            <li>Water-resistant fabric with soft lycra detailing inside</li>
                                            <li>CLean zip-front, and three piece hood</li>
                                            <li>Subtle branding and diagonal panel detail</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="group-button">
                                    <div class="group-button-inner">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div>
                                        <div class="rustrot product compare-button">
                                            <a href="compare.html" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a>
                                        <div class="add-to-cart">
                                            <a href="cart.html" class="button product_type_variable add_to_cart_button">Select
                                                options</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}

                            <h3>There are no new products at this time...please check back later</h3>

                        {% endfor %}


                    </ul>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="rustrot-pagination">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">Next</a>
                    </nav>
                    <p class="rustrot-result-count">Showing 1–12 of 20 results</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}