{% extends 'partials/base.html' %}

{% load static %}

{% block content %}


{% include 'partials/breadcrumb.html' %}

<main class="site-main main-container no-sidebar">
    <div class="container d-flex  justify-content-center ">
        <div class="row justify-content-center w-100">
            <div class="col-md-6 col-lg-4">
                <div class="main-content">
                <div class="page-main-content">
                    <div class="rustrot">
                        <div class="rustrot-notices-wrapper"></div>
                        <div class="u-columns col2-set" id="customer_login">
                            <div >
                                <h2>Sign Up</h2>

                                {% include 'partials/messages.html' %}

                                <form class="rustrot-form rustrot-form-login login" method="POST">
                                    {% csrf_token %}
                                    <p class="rustrot-form-row rustrot-form-row--wide form-row form-row-wide">
                                        <label for="first-name">First Name&nbsp;<span
                                                class="required">*</span></label>
                                        <input type="text" class="rustrot-Input rustrot-Input--text input-text"
                                               name="first-name" id="first-name" value="">
                                    </p>

                                    <p class="rustrot-form-row rustrot-form-row--wide form-row form-row-wide">
                                        <label for="last-name">Last Name <span
                                                class="required">*</span></label>
                                        <input type="text" class="rustrot-Input rustrot-Input--text input-text"
                                               name="last-name" id="last-name" value="">
                                    </p>

                                    <p class="rustrot-form-row rustrot-form-row--wide form-row form-row-wide">
                                        <label for="email">Email address<span
                                                class="required">*</span></label>
                                        <input type="email" class="rustrot-Input rustrot-Input--text input-text"
                                               name="email" id="email"  value="">
                                    </p>

                                    <p class="rustrot-form-row rustrot-form-row--wide form-row form-row-wide">
                                        <label for="password">Password&nbsp;<span class="required">*</span></label>
                                        <input class="rustrot-Input rustrot-Input--text input-text"
                                               type="password" name="password" id="password"
                                               autocomplete="current-password">
                                    </p>
                                    <p class="form-row">

                                        <button type="submit" class="rustrot-Button button" name="signup"
                                                value="Sign Up">Sign Up
                                        </button>

                                    </p>

                                    <div class="rustrot-social-login">
                                        <h6>Already have an account?</h6>
                                        <a href="{% url 'login' %}">Sign In</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>


{% endblock content %}
